<!--<section id="contribute" class="grid-container" data-magellan-target="contribute">
  <div class="grid-x">
    <div class="cell">
      <h2>{{translate "global.contribute.title"}}</h2>
      {{#markdown}}{{translate "global.contribute.text"}}{{/markdown}}
    </div>
  </div>
</section>-->