<section id="contribute" class="grid-container" data-magellan-target="contribute" data-deep-link>
  <div class="grid-x grid-padding-x grid-margin-y align-center align-middle">

    <div class="cell shrink ons-title">
      <h3><strong><span>++</span>{{translate "global.contribute.title"}}<span>++</span></strong></h3>
    </div>

    <div class="cell medium-11 expand ons-text">
      {{#markdown}}{{read (replace "src/locales/[lang]/contribute.md" "[lang]" (translate "global.lang"))}}{{/markdown}}
    </div>
  </div>
</section>