<section id="{{translate "global.contribute.menu.link"}}" class="section-contribute grid-container" data-magellan-target="{{translate "global.contribute.menu.link"}}" data-deep-link>
  <div class="grid-x grid-padding-x grid-margin-y align-center align-middle">

    <div class="cell shrink ons-title">
      <h3><strong><span>++</span>{{translate "global.contribute.title"}}<span>++</span></strong></h3>
    </div>

    <div class="cell medium-11 expand ons-text">
      {{#markdown}}{{translate "global.contribute.content"}}{{/markdown}}
    </div>
  </div>
</section>