<a href="{{global.github.url}}" class="github-fork-ribbon hide-for-small-only" data-ribbon="{{global.github.text}}" target="_blank"><span class="show-for-medium-only">{{global.github.text}}</span></a>