<div id="mobile_nav" class="show-for-small-only hide-for-print">
  <div class="title-bar">
    <div class="title-bar-left">
      <img src="{{root}}assets/img/onenation_logo_mobile.png" alt="One Nation Logo">
    </div>
    <div class="title-bar-right">
      <ul class="dropdown menu align-right" data-dropdown-menu data-magellan>
        <li class="is-dropdown-submenu-parent">
          <a>MENU</a>
          <ul class="menu">
            {{> menu}}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>