---
page_id: homepage_
---

<div class="grid-container full" data-sticky-container>
  {{> mobile_nav}}
  {{> home_header}}
  <section id="main_menu">
    <ul class="menu align-center show-for-medium" data-magellan>
      {{> menu}}
    </ul>
  </section>
  {{> manifest}}
  <div class="ons-bg-clouds">
    {{> vision}}
  </div>
  {{> home_image_1}}
  <div class="ons-bg-white">
    {{> disclaimer}}
  </div>
  {{> faq}}
  {{> roadmap}}
  {{> contribute}}
  {{> footer}}
</div>

