@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-switch;
@include foundation-table;
// Basic components
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
@include foundation-tooltip;

// Containers
@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;

// Motion UI
@include motion-ui-transitions;
@include motion-ui-animations;


/////////////////////////////
//    ONE NATION STYLES    //
// ons => One Nation Style //
/////////////////////////////

@import url('https://fonts.googleapis.com/css?family=Raleway');
@import 'components/ribbon';

$ons-alt-font: "Playfair Display", serif;

.submenu{
    box-shadow: 0 0 rem-calc(10) $medium-gray;
    border-radius: $global-radius;
    li:hover{
        font-weight: $global-weight-bold;
    }
}

.ons-all-green{color: $ons-green;}
.ons-all-blue{color: $ons-blue;}
.ons-all-red{color: $ons-red;}
.ons-all-yellow{color: $ons-yellow;}
.ons-all-gray{color: $dark-gray;}
.ons-all-black{color: $ons-soft-black;}

.ons-strong-green strong{color: $ons-green;}
.ons-strong-blue strong{color: $ons-blue;}
.ons-strong-red strong{color: $ons-red;}
.ons-strong-yellow strong{color: $ons-yellow;}
.ons-strong-gray strong{color: $dark-gray;}
.ons-strong-black strong{color: $ons-soft-black;}

.ons-label{
    display: inline-block;
    font-family: $font-family-monospace;
    line-height: 1.2;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 0.05em;
    margin: $global-margin 0 $global-margin/2;
    padding: 0 $global-padding;
}
.ons-label-green{background-color: $ons-green; color: $white;}
.ons-label-blue{background-color: $ons-blue; color: $white;}
.ons-label-red{background-color: $ons-red; color: $white;}
.ons-label-yellow{background-color: $ons-yellow; color: $white;}
.ons-label-gray{background-color: $dark-gray; color: $white;}
.ons-label-black{background-color: $ons-soft-black; color: $white;}
[class^="ons-label-"]{@extend .ons-label}

.ons-bg {
    &-white {
        background-color: $white;
    }
    &-clouds {
        background-image: url(../img/onenation_clouds_bg.jpg);
        background-size: cover;
        background-position: center;
    }
}

.ons-link{
    font-family: $font-family-monospace;
    font-weight: normal;
    white-space: nowrap;
    &:before{
        content:"[";
    }
    &:after{
        content: "]"
    }
}
.ons-separator{
    opacity: 0.2;
    &:after{
        font-family: arial, sans-serif;
        font-weight: normal;
        content: '//';
    }
}

.ons-sheet{
    background-color: $white;
    padding: $global-padding*2 $global-padding;
    @include breakpoint(medium){
        padding: $global-padding*2 $global-padding*2;
    }
    @include breakpoint(large){
        padding: $global-padding*3 $global-padding*4;
    }
    box-shadow: rem-calc(12 12 44) transparentize($medium-gray, 0.7);
}

.ons-title{
    strong{
        font-weight: $global-weight-black;
        text-transform: uppercase;
    }
    span{
        display: inline-block;
        padding: 0 $global-padding;
        @include breakpoint(small down){display: none;}
    }
}

#mobile_nav{
    position: fixed;
    z-index: 999999;
    width: 100%;
    top: rem-calc(-200);
    transition: ease-in-out 0.2s;
    .title-bar{
        background: url(../img/onenation_header_bg.jpg) top center;
        background-size: 130%;
        box-shadow: 0 0 rem-calc(10) $medium-gray;
    }
    &.ons-sticky{
        top: 0;
    }
    .title-bar-left{
        margin: $global-margin/8;
        img{
            max-height: rem-calc(44);
        }
    }
    .menu{
        text-align: right;
        text-transform: uppercase;
        font-family: $font-family-monospace;
        & > li > a{
            color: $ons-soft-black;
            font-weight: bold;
        }
        .ons-separator{
            display: none;
        }
    }
}

#home_header{
    background: url('../img/onenation_header_bg.jpg') center bottom;
    background-size: cover;
    @include breakpoint(small){min-height: rem-calc(222)}
    @include breakpoint(medium){min-height: rem-calc(300)}
    @include breakpoint(large){min-height: rem-calc(400)}
    .menu{
        & > li > a{
            color: $ons-soft-black;
        }
    }
}

#main_menu{
    font-family: $font-family-monospace;
    text-transform: uppercase;
    font-size: 1em;
    padding: $global-padding/2;
    @include breakpoint(medium){
        padding: $global-padding*2 0 $global-padding*2;
    }
    .ons-separator{
        padding: get-side($global-menu-padding, top)/2 0;
    }
    
}

#manifest{
    h2{
        font-family: $ons-alt-font;
        font-weight: 700;
        font-style: italic;
        text-align: center;
    }
    h4{
        @extend .ons-label;
        @extend .ons-label-black;
        font-size: 1em;
        margin-bottom: $global-margin;
        @include breakpoint(medium){
            font-size: 1.1em;
        }
        @include breakpoint(large){
            font-size: 1.2em;
            margin-top: $global-margin*2;
        }
    }
    ul{
        list-style-type: none;
        font-size: 1em;
        line-height: 1.1;
        @include breakpoint(medium){
            margin: 0 $global-margin*2 $global-margin;
            font-size: 1.2em;
        }
        li{
            margin-bottom: 0.8em;
            font-weight: 600;
            letter-spacing: 0.05em;
        }
    }
    p{
        margin: $global-margin*2 $global-margin $global-margin;
        text-align: justify;
        font-style: italic;
        font-size: 1em;
        line-height: 1.2em;
        letter-spacing: 0; 
    }
    .button {
        text-transform: uppercase;
        padding: $global-padding/2 $global-padding*1.5;
        margin: $global-margin*2 0 $global-margin*4;
        font-weight: $global-weight-bold;
    }
}

#vision {
    margin: $global-margin*3 auto;
    .ons-icon{
        img{
            max-width: rem-calc(44);
        }
    }
    .ons-title{
        h3{
            margin-top: rem-calc(10);
        }
    }
    .ons-text{
        margin-left: $global-margin*3;
        margin-right: $global-margin*3;
        font-size: 1.2em;
        font-weight: $global-weight-bold;
        color: $ons-soft-black;
        em{
            color: $dark-gray;
        }
    }
    
}

#disclaimer{
    padding-top: $global-padding*5;
    padding-bottom: $global-padding*5;
    font-size: 1.1em;
    .ons-icon{
        img{
            max-width: rem-calc(38);
        }
    }
    .ons-title{
        h3{
            margin-top: rem-calc(10);
        }
    }
    a{
        @extend .ons-link;
    }
}

#faq{
    padding-top: $global-padding*5;
    padding-bottom: $global-padding*5;

    .accordion-title{
        font-weight: $global-weight-bold;
        font-size: 1em;
        @include breakpoint(medium){
            font-size: 1.2em;
        }
        &:focus{
            color: inherit;
        }
        &:hover{
            color: $ons-blue;
        }
    }

    .accordion-content{
        margin: rem-calc(10 20 10 30);
        border-left: solid $medium-gray rem-calc(3);
        text-align: justify;
        h6{
            font-weight: $global-weight-black;
        }

        strong{
            font-weight: $global-weight-bold;
            color: $ons-blue;
        }
        
        a{
            color: inherit;
            text-decoration: underline $ons-blue;
            &:hover,&:focus{
                color: $ons-blue;
            }
        }
        
        ul{
            list-style-type: disc;
            padding: rem-calc(0 0 20 30);
        }
    }
   
}

#roadmap{
    font-family: $font-family-monospace;
    font-size: 0.9em;
    @include breakpoint(medium){font-size: 1em;}
    @include breakpoint(large){font-size: 1.1em;}
    h2{
        font-family: $font-family-monospace;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: underline double;
        @include breakpoint(medium){
            font-size: rem-calc(30);
        }
    }
    h6{
        font-weight: $global-weight-black;
        margin-left: $global-margin*2;
        margin-top: $global-margin;
    }
    [class^="ons-label-"]{
        margin-bottom: $global-margin;
    }
    .ons-todo{
        ul{
            list-style-type: circle;
            a{@extend .ons-link;}
            @include breakpoint(medium){margin: 0 $global-margin $global-margin $global-margin*2;}
            @include breakpoint(large){margin: 0 $global-margin*2 $global-margin $global-margin*3;}
        }
    }
    .ons-todo-done ul{
        list-style-type: disc;
    }
    
}


#contribute {
    padding-top: $global-padding*5;
    padding-bottom: $global-padding*5;
    h6{
        font-weight: $global-weight-black;
    }
}

#footer{
    margin-top: $global-margin*2;
    font-family: $font-family-monospace;
    font-style: italic;
    font-size: 0.8em;
    color: $dark-gray;
}